<h1>About Me</h1>
<p>Having spent more then a decade of my adult life working odd jobs and seeming like I was getting no where, I wanted to make a change that was positive for both me and my family. I wanted a career rather than just a job. I took a leap of faith, I sold my home, quit my job, and decided to attend a coding bootcamp. I knew I wanted a career that would give me the opportunity to spend more time with my family, as well as a one that allowed me to be creative and would set me up for success in the future.</p>
<p> Becoming a developer hasn't been the easiest task I've ever undertaken but it certainly has been the most rewarding so far. My family loves that I am able to spend more time with them now and I love the independence and feeling of accomplishment that developing gives me. I plan to continue to learn as much as I can throughout my career and look forward to what the future holds.</p>


